doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        link(rel="stylesheet", href="https://icons8.com/icon/132/search")
        script(src="../script.js/index.js" defer) 
        title Document
    body 
        .header 
            .header-container 
                .logo 
                    img(src="../img/menu-logo.png", alt="").logo
                input(type="serch" placeholder="search" search).input-header
                img(src="../img/Frame 4.png", alt="").header-img
                .buttons 
                    button.btn-button-all ALL
                    button.btn-button-yatchs Yatchs
                    button.btn-button-boats Boats
                    button.btn-button-electrical Engineering Electrical
                    button.btn-button-photocopier  Photocopier
                    button.btn-button-cookery Cookery
                    button.btn-button-apple Apple
                    button.btn-button-css CSS
                    button.btn-button-figma Figma 
                    button.btn-button-astronomy Astronomy 
        main 
            section 
                .section-container
                    .hero-left 
                        li 
                             a(href="#").home HOME 
                             a(href="#").trend TRENDS 
                             a(href="#").about ABOUT US 
                             a(href="#").contact CONTACT 
                        img(src="../img/home.png", alt="").trend-icon
                        img(src="../img/trends.png", alt="").subs-icon
                        img(src="../img/subs.png", alt="").icon-olov
                        img(src="../img/originals.png", alt="").icon-you
                        .container-menu 
                                a(href="#").libruary Library
                                a(href="#").history History
                                a(href="#").acaunt  your videos   
                                a(href="#").show  Show more   
                                a(href="#").watch  Watch later   
                                img(src="../img/library.png", alt="").img-lib
                                img(src="../img/history.png", alt="").img-history
                                img(src="../img/your-movie.png", alt="").img-video
                                img(src="../img/subs.png", alt="").img-subsss
                                img(src="../img/trends.png", alt="").img-tern
                        .container-user 
                                img(src="../img/sub-photo.png", alt="").photo-user
                                a(href="#").user Adem Ilter
                                a(href="#").use Coşkun Aral
                                a(href="#").us Yiğit Can İÇ
                                a(href="#").userr AQUAHOLIC 
                                img(src="../img/pp.png", alt="").phot-userssss
                                img(src="../img/ffff.png", alt="").photo-pep
                                img(src="../img/uu.png", alt="").img-ocean
                        section.video 
                            .card.video